.features {
  overflow: hidden;
  position: relative;

  .features__container {
    padding-top: 2rem;
    grid-template-columns: 285px;
    justify-content: center;


    .features__group {
      display: grid;
      position: relative;
      z-index: 10;

      .features__img {
        width: 150px;
        justify-self: center;
      }

      .features__card {
        width: 112px;
        background-color: hsla(0, 0%, 100%, .1);
        backdrop-filter: blur(16px);
        border-radius: 1.25rem;
        padding: .75rem 2rem;
        text-align: center;
        color: var(--title-color);
        position: absolute;

        &.features_card1 {
          top: 4rem;
          left: 1.5rem;
        }

        &.features_card2 {
          top: 8rem;
          right: 1rem;
        }

        &.features_card3 {
          left: 1.5rem;
          bottom: 2rem;
        }

        .features__cardTitle {
          font-size: var(--h3-font-size);
          margin-bottom: .25rem;
        }

        .features__cardDescription {
          font-size: var(--smaller-font-size);
        }
      }
    }
  }

  .features__map {
    max-width: initial;
    width: 450px;
    position: absolute;
    top: 8rem;
    left: -3rem;
    margin: auto;
    transform: rotate(-22deg);
  }
}

// .features {
//   .features__container {
//     .features__group {
//       .features__img {}

//       .features__card {
//         .features__cardTitle {}

//         .features__cardDescription {}
//       }
//     }
//   }
//   .features__map {}
// }


@media screen and (min-width: 576px) {

  .features {

    .features__map {
      left: 0;
      right: 0;
    }
  }
}

@media screen and (min-width: 1040px) {
  .features {
    .features__container {
      padding: 2rem 0 3rem;

      .features__group {
        .features__img {
          width: 200px;
        }

        .features__card {
          width: 127px;
          padding: .75rem 2.5rem;


          &.features_card1 {
            left: -1rem;
          }

          &.features_card2 {
            right: -2.5rem;
          }

          &.features_card3 {
            left: -1rem;
            bottom: 7rem;
          }
        }
      }
    }

    .features__map {
      width: 650px;
      top: 11rem;
    }
  }

}